<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span style="margin-top: 3%;" class="site-description">Software Developer | Data Scientist</span>
      </h1>
      <div style="margin-top: 10%;" class="header-icons">
        <a aria-label="Send email" href="#about" data-toggle="tooltip" data-placement="top" title="Contact Information"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/rishabhbhatt009" data-toggle="tooltip" data-placement="top" title="Go to Github"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/rishabh-bhatt" data-toggle="tooltip" data-placement="top" title="Go to LinkedIn"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Download Resume" href="{{ site.url }}/downloads/Rishabh Bhatt Resume June-2023.pdf" download data-toggle="tooltip" data-placement="top" title="Download Resume"><i class="icon fa fa-download" aria-hidden="true"></i></a> 
      </div>
      <div style="margin-top: 7%;" class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#education" data-scroll>Education</a>
        <a class="link" href="#workexp" data-scroll>WorkExp</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#publications" data-scroll>Publications</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
