<div class="user-details">
  <h1> Research Projects and Publications </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="alexa" src="{{ "/assets/img/amazon.jpg" | prepend: site.baseurl }}" style="margin-top: 10%;"/>
  </div>
  <div class="contents">
    <h3> Multi-modal Task-Oriented Assistant </h3>
    <p>EvoquerBOT, a conversation agent which uses Large-Language-Models grounded by domain specific Knowledge-Graphs to help guide users through complex real-world tasks.</p>
    <p>Pyhton | PyTorch | Hugging-Face | neo4j | Alexa-Skill-Kit | AWS | SpaCy</p>
    <a class="project-link" href="https://www.amazon.science/alexa-prize/teams/evoquerbot-taskbot-challenge-2">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="alexa" src="{{ "/assets/img/Pre_Proc.png" | prepend: site.baseurl }}" style="margin-top: 10%;"/>
  </div>
  <div class="contents">
    <h3>Gesture Recognition via skeleton based Deep Neural Network </h3>
    <p>Developed a software that converts gestures to natural language using a Long Short-Term Memory (<strong>LSTM</strong>) network. Used Google's MediaPipe framework to generate <strong>~5Gbs</strong> of skeletal graph data from over <strong>21k videos</strong> to train the model</p>
    <p>Pyhton | PyTorch | MediaPipe | OpenCV </p>
    <a class="project-link" href="https://github.com/rishabhbhatt009">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/lunar_lander.gif" | prepend: site.baseurl }}" style="margin-top: 10%;" />
  </div>
  <div class="contents">
    <h3>Atari Game Bots using Reinforcement Learning (RL) </h3>
    <p>Trained adversarial bots to play games using Deep-Q-Learning. Performed performance analysis by running over <strong>50k</strong> simulations to meticulously evaluate and identify the most effective algorithm</p>
    <p>Pyhton | Gym | PyTorch</p>
    <a class="project-link" href="https://github.com/rishabhbhatt009">Check it out</a>    
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/giphy.gif" | prepend: site.baseurl }}" style="margin-top: 10%;" />
  </div>
  <div class="contents">
    <h3> Analyzing Social Sentiments using scraped tweets </h3>
    <p>Used Twitter-API to scrape tweets and generate a dataset of over <strong>1.2 million tweets</strong> to perform sentiment analysis in Python. Built a data dashboard with interactive visualization to analyze public sentiment before and after "Lok Sabha Elections in India"</p>
    <p>Pyhton | Scikit-Learn | Beautiful Soup | Pandas</p>
    <a class="project-link" href="https://github.com/rishabhbhatt009">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/human-pose-skeleton.jpg" | prepend: site.baseurl }}" style="margin-top: 10%;" />
  </div>
  <div class="contents">
    <h3> 3D Human Skeleton for Augmented Reality  </h3>
    <p>Projected joint locations from real world to 2D pixel coordinates & used these 2D estimations to reconstruct a 3D human skeleton across <b>~70,000</b> frames of joint data from a dual camera setup.</p>
    <p>Pyhton | PyTorch | MediaPipe | OpenCV </p>
    <a class="project-link" href="https://github.com/rishabhbhatt009">Check it out</a>
  </div>
</div>


<div class="user-details" id="publications">
  <h1> Publications </h1>
</div>

<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents-full">
    <h3> "Indian Sign Language Recognition System using Adaptable Segmentation & ML" - Rishabh Bhatt & Dr. Vishal Bharti </h3>
    <p>Published: GRENZE International Journal of Engineering & Technology, 2020 Vol-6 Issue-1 (ISSN: 2395-5295), pages 27-36.</p>
    <a class="project-link" href="http://thegrenze.com/index.php?display=page&view=journaldetails&id=8&year=2018&volume=4&issue=1">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents-full">
    <h3> “Cyberbullying & the need to reform cyber laws in India: The Venus Fly Trap Analogy” - Rishabh Bhatt </h3>
    <p> Published: OIIRJ Volume-09, July 2019 Special Issue (ISSN: 2249-9598), pages 289-297. </p>
    <a class="project-link" href="http://oiirj.org/oiirj/blog/2019/07/31/volume-09-july-2019-special-issue/">Check it out</a>
  </div>
</div>

