<div class="user-details" id="education">
  <h1> Education </h1>
</div>

<div class="user-projects2">
  <div class="contents2">
    <h3>Pennsylvania State University</h3>
    <h5>University Park, PA, USA | Graduating May 2023</h5>
    <p>Master of Science in Computer Science & Engineering, <b>CGPA: 3.7/4.0</b></p>
    <p><b>Graduate teaching and research assistant</b> for Deep Learning for NLP with full tuition waiver</p>
    <p><b>Coursework:</b> Data Mining, Neuro Symbolic Learning, Large Scale ML, Computer Vision, Cloud Computing</p>
  </div>
  <div class="contents2">
    <h3>Vellore Institute of Technology</h3>
    <h5>Vellore, TN, India | 2015-2019</h5>
    <p>Bachelor of Technology in Computer Science with spl. in Bioinformatics, <b>CGPA: 8.23/10.0</b></p>
    <p><b>Coursework:</b> Object Oriented Programming, Data Structure & Algorithm, Software Design & Development, Computer Architecture and Organization, Operating Systems</p> 
  </div>

</div>

<div class="user-details" id="workexp">
  <h1>Experience</h1>
</div>

<!-- Software Engineer | EvoquerBOT -->
<div class="user-projects2">
  <div class="contents2">
    <h3>Software Engineer | EvoquerBOT</h3>
    <p>Jan 2023 to Aug 2023</p>
    <p><b>Skills :</b> PyTorch | Alexa Skills Kit APIs | AWS | Docker | DynamoDB | Neo4j | Microservices | Generative AI</p>
    <ul>
      <li>Build and deploy at scale a multi-modal virtual assistant, to compete against 10 teams selected globally for the <a href="https://www.amazon.science/alexa-prize/teams/evoquerbot-taskbot-challenge-2">Alexa Prize TaskBot Challenge</a>, using the <strong>ASK APIs</strong> to develop an alexa skill. Try it! Say *"Alexa, lets work together"*</li>
      <li>Implemented a scalable and efficient neural response generator by consolidating responses from multiple neural functionalities hosted as isolated microservices containerized with <strong>Docker</strong>, enabling rapid deployment and scalable service delivery</li>
      <li>Enabled 30% faster and 60% more accurate <strong>information retrieval</strong> by designing a persistent knowledge database with a custom <strong>API</strong> to perform <strong>CRUD</strong> operations and query data using natural language input</li>
      <li>Proactively identified bugs with backend services and <strong>API</strong>, and communicated the issues and findings to senior engineers at Amazon</li>
    </ul>
  </div>
</div>


<!-- Decision Analytics Associate | ZS Associates -->
<div class="user-projects2">
  <div class="contents2">
    <h3>Decision Analytics Engineer | ZS Associates</h3>
    <p>Sept-2019 to April-2021 | Pune, MH, India</p>
    <p><b>Skills :</b> AWS | Apache Spark | Python | PostgreSQL | Pandas | Scikit-Learn | Matplotlib | Tableau</p>
    <ul>
      <li>Accelerated revenue growth for healthcare clients by <strong>10%</strong> through <strong>digital transformation</strong>, by developing cloud-based data (<strong>ELT</strong>) pipelines to integrate data from numerous sources into <strong>data warehouses</strong> and optimizing analytical workflows with Apache Spark</li>
      <li>Helped clients identify Key Performance Indicators (KPIs) and improve sales by over <strong>25%</strong>, by analyzing anonymized longitudinal data (<strong>APLD</strong>) using <strong>Marketing Mix models</strong> and optimizing the sales force through <strong>geospatial alignment</strong></li>
      <li>Increased client reach by <strong>40%</strong> by applying unsupervised learning algorithms such as <strong>K-Means</strong> to cluster over <strong>500k customers</strong> into segments and analyzing effectiveness of marketing strategies using <strong>A/B Testing</strong></li>
    </ul>
  </div>
</div>


<div class="user-projects2">
  <div class="contents2">
    <h3>Software Engineer (Intern) | Velankani Electronics</h3>
    <p>May-2018 to July-2018 | Bengaluru, KA, India</p>
    <p><b>Skills :</b> C++, OpenCV, Qt, CNNs, Graphical User Interface (GUI)</p>
    <ul>
      <li>Saved over <strong>95,000 hours</strong> of work per year by developing a number plate recognition system using convolutional neural networks (CNNs) and integrating it into an interactive graphical user interface using Qt for surveillance.</li>
    </ul>
  </div>
</div>
