<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="alexa" src="{{ "/assets/img/amazon.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Multi-modal Task-Oriented Assistant </h3>
    <p>EvoquerBOT, a conversation agent which uses Large-Language-Models grounded by domain specific Knowledge-Graphs to help guide users through complex real-world tasks.</p>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <a class="project-link" href="https://www.amazon.science/alexa-prize/teams/evoquerbot-taskbot-challenge-2">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="alexa" src="{{ "/assets/img/Pre_Proc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gesture Recognition via skeleton based Deep Neural Network </h3>
    <p>Developed a Long Short-Term Memory (LSTM) network on PyTorch that uses skeletal graph data from over 21k videos (~5Gbs) to learn and classify dynamic hand gestures.</p>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/lunar_lander.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Atari Game Bots using Reinforcement Learning (RL) </h3>
    <p>Ran game simulations using reinforcement learning agents trained on Deep-Q-Learning (DQN) & Proximal-Policy-Optimization (PPO) algorithms, to analyze performance and improve game play.</p>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/giphy.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Analyzing Social Sentiments using scraped tweets </h3>
    <p>Scraped over 1.2 million tweets using Python to train a Random Forest Classifier, and used the predictions to analyze public perception for “Lok Sabha Elections in India”.</p>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/human-pose-skeleton.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 3D Human Skeleton for Augmented Reality  </h3>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <p>Projected joint locations from real world to 2D pixel coordinates & used these 2D estimations to reconstruct a 3D human skeleton across ~70,000 frames of joint data from a dual camera setup.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents-full">
    <h3> "Indian Sign Language Recognition System using Adaptable Segmentation & ML" - Rishabh Bhatt & Dr. Vishal Bharti </h3>
    <p>Published: GRENZE International Journal of Engineering & Technology, 2020 Vol-6 Issue-1 (ISSN: 2395-5295), pages 27-36.</p>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents-full">
    <h3> “Cyberbullying & the need to reform cyber laws in India: The Venus Fly Trap Analogy” - Rishabh Bhatt </h3>
    <p> Published: OIIRJ Volume-09, July 2019 Special Issue (ISSN: 2249-9598), pages 289-297. </p>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

