<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <!-- <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents">
    <h3> Gesture Recognition via skeleton based Deep Neural Network </h3>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <p>Developed a Long Short-Term Memory (LSTM) network on PyTorch that uses skeletal graphs extracted from over 21k videos (~5Gbs) to learn and classify dynamic hand gestures.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents-right">
    <h3> Atari Game Bots using Reinforcement Learning (RL) </h3>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <p>Ran game simulations from OpenAI Gym using reinforcement learning agents trained on Deep-Q-Learning (DQN) & Proximal-Policy-Optimization (PPO) algorithms for performance analysis.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents">
    <h3> Analyzing Social Sentiments using scraped tweets </h3>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <p>Scraped over 1.2 million tweets using Python to train a Random Forest Classifier. The predictions were then used to analyze public perception for “Lok Sabha Elections in India”.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents">
    <h3> 3D Human Skeleton for Augmented Reality  </h3>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <p>Projected joint locations from real world to 2D pixel coordinates & used these 2D estimations to reconstruct a 3D human skeleton across ~70,000 frames of joint data from a dual camera setup.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents-right">
    <h3> "Indian Sign Language Recognition System using Adaptable Segmentation & ML" - Rishabh Bhatt & Dr. Vishal Bharti </h3>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <p>Published: GRENZE International Journal of Engineering & Technology, 2020 Vol-6 Issue-1 (ISSN: 2395-5295), pages 27-36.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents">
    <h3> “Cyberbullying & the need to reform cyber laws in India: The Venus Fly Trap Analogy” - Rishabh Bhatt </h3>
    <ul>
      <li> Pyhton | Deeplearning </li>
    </ul>
    <p> Published: OIIRJ Volume-09, July 2019 Special Issue (ISSN: 2249-9598), pages 289-297. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

