<div class="user-details">
  <h1> Work Experience </h1>
</div>

<div class="user-projects2">
  <div class="contents2">
    <h3>ZS Associates</h3>
    <p>Pune, MH, India</p>
    <p>Senior Associate | Decision Analytics - Oncology</p>
    <p>2019-2021</p>
    <ul>
      <li>Delivered successful business strategies for fortune 500 healthcare companies by leveraging data, arbitrating discussions, and providing insights via business dashboards to identify Key-Performance-Indicators (KPIs) & unlock business value</li>
      <li>Developed statistical models in Python to analyze longitudinal data with over 2 million records/year, uncovering market trends & predicting product growth potential, which helped clients optimize their sales force & marketing strategies</li>
      <li>Analyzed sales data in a $265B Oncology-Market using AWS technologies (EC2, S3, SageMaker, Redshift), resulting in >10% revenue increase & cost savings through efficient data ingestion & ML pipeline integration into client workflows</li>
      <li>Clustered over 500k customers using unsupervised learning algorithms, revealing market segments & customer behavior patterns, resulting in better customer experience & improved client reach through targeted messaging.</li>
      <li>Strengthened client relationships by collaborating with client teams, effectively communicating findings, & delivering results</li>
    </ul>
  </div>
</div>

<div class="user-projects2">
  <div class="contents2">
    <h3>Velankani Electronics</h3>
    <p>Bengaluru, KA, India</p>
    <p>Data Science Intern</p>
    <p>2018</p>
    <ul>
      <li>Developed a license plate recognition system using convoluted neural networks (CNNs), saving over 10 man-hours per day by automating the tracking of thousands of vehicles through security cameras.</li>
    </ul>
  </div>
</div>
